<%= form_with(model: @team, local: true, url: new_or_edit_path?) do |f| %>
  <div class = "field">
    <%= f.label :チーム名%><br>
    <%= f.text_field :name%>
  </div>
  <div class = "field">
    <%= f.label :画像%><br>
    <%= f.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class = "field">
  <%= f.label :説明%><br>
  <%= f.text_area :description%>
</div>
  <div>
    <%= f.submit %>
  </div>
<% end %>