<h3>チーム情報</h3>
<p><%= image_tag @team.image.url if @team.image.present? %></p>
<p><%= @team.name %></p>

<p>description:<%= @team.description %></p>

<%= link_to 'チーム編集', edit_team_path, class:'btn btn-success' %>
<%= link_to 'チーム一覧', teams_path, class:'btn btn-primary' %>
<%= link_to '試合ルーム一覧へ', games_path, class:'btn btn-success' %> 