<p>お気に入り一覧</p>



<table>
  <% @favorites.each do |favorite| %>
    <tbody>
      <tr>
        <td><%= favorite.game.user.name %>さんのgameルーム</td>
      </tr>
      <tr>
        <td><%= favorite.game.content %></td>
      </tr>
    </tbody>
    <tfooter>
      <tr>
        <td><%= link_to 'お気に入り解除する', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-info btn-block mb-4' %></td>
      </tr>
    </tfooter>
  <% end %>
</table>

  <%= link_to 'マイページ編集', edit_user_registration_path, class:'btn btn-success' %>
  <%= link_to 'game一覧へ', games_path, class:'btn btn-primary' %> 
