<h2 class="text-center mt-3">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= image_tag resource.image.url, class: 'rounded-circle' if resource.image.present? %><br/>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :name, 'ユーザー名' %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name' %>
    <%= f.object.errors.full_messages_for(:name).join(',') %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email'%>
    <%= f.object.errors.full_messages_for(:name).join(',') %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password'%>
    <%= f.object.errors.full_messages_for(:name).join(',') %>
  </div>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
    <%= f.object.errors.full_messages_for(:name).join(',') %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password' %>
    <%= f.object.errors.full_messages_for(:name).join(',') %>
  </div>

  <div class="field">
    <%= f.submit t('.sign_up') %>
  </div>

  <div class="field">
    <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %>
  </div>
<% end %>