<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
<% end %>


  <% comments.each do |comment| %>
      <div class = "box11" >
      <% if comment.id.present? %>
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
        <p><%= comment.content %></p>
        <p><%= image_tag comment.image.url, class: 'rounded-circle' if comment.image.present?%></p>
        <%= link_to comment.user.name, user_path(comment.user_id), class: 'btn btn-success btn-sm' %>
        <% if current_user == comment.user %>
          <%= link_to "コメント編集", edit_game_comment_path(@game, comment), remote: true, class:'btn btn-outline-success btn-sm' %>
          <%= link_to 'コメント削除', game_comment_path(comment.game_id, comment.id), method: :delete, remote: true, class:'btn btn-outline-success btn-sm' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
