<% user ||= current_user %>
<div id="stats_<%= user.id%>">
  <a href="<%= following_user_path(user) %>">
    <strong id="following-count" class="stat">
      <%= user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(user) %>">
    <strong id="followers-count" class="stat">
      <%= user.followers.count %>
    </strong>
    followers
  </a>
</div> 