<% @user.following.each do |user| %>
  <table>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to '詳細', user_path(user) %></td>
  </tr>
  </table>
<% end %> 

<%= render 'stats', user: @user %>
<%= render 'follow_form', user: @user unless current_user == @user %>
<%= link_to 'マイページ編集', edit_user_registration_path, class:'btn btn-success' %>
<%= link_to 'お気に入り一覧', favorite_path(current_user.id), class:'btn btn-success' %>
<%= link_to '試合ルーム一覧へ', games_path, class:'btn btn-primary' %> 