<% if @game.errors.any? %>
  <ul>
    <% @game.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
<% end %>

  <div class="col text-left">
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </div>

  <%= form_with(model: @game, local: true, url: new_or_edit_path?) do |f| %>
    <%= f.fields_for :upshot do |u| %>
      <%= u.label :チーム1 %>
      <%= u.collection_select :team_a_id, Team.order(:name),:id,:name, {include_blank: "選択して下さい"},required: true %> 対
      <%= u.label :チーム2 %>
      <%= u.collection_select :team_b_id, Team.order(:name),:id,:name, {include_blank: "選択して下さい"},required: true %>
      <% if @team.present? %>
      <% end %>
    <div class="form-group">
      <%= u.label :content, 'チーム1の得点' %>
      <%= u.number_field :team_a_point, in: 1...15  %> 
      <%= u.label :content, 'チーム2の得点' %>
      <%= u.number_field :team_b_point, in: 1...15  %>
    </div>
    
    <div class="form-group">
      <%= f.label :content, 'この試合の見所は？' %>
      <%= f.text_area :content, placeholder:"投稿内容を1000文字まで入力可", class: 'form-control' %>
    </div>

    <div>
      <%= f.label :place, '試合場所' %>
      <%= f.select :place, ['Osaka','Tokyo','Fukuoka','Hiroshima','Sendai','Chiba'] %>
    </div>

    <div class="form-group">
      <%= f.label :match_at, 'いつ？' %>
      <%= f.datetime_field :match_at, class: 'form-control' %>
    </div>

    <div class="form-group">
      <% if action_name == 'new' || action_name == 'create' %>
        <%= f.submit 'ルーム作成', class: 'btn-denim mx-auto d-block' %>
      <% else %>
        <%= f.submit 'ルーム情報の更新' %>
      <% end %>
    </div>

  <% end %>
<% end %>

<%= link_to '試合ルーム一覧', games_path, class: 'btn btn-primary btn-sm' %> 
<br><br><br><br><br><br><br><br>