<% if @game.errors.any? %>
  <ul>
    <% @game.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @game, local: true) do |f| %>

  <%= f.fields_for :upshot do |u| %>
    <%= u.label :チーム1 %>
    <%= u.collection_select :team_a_id, Team.order(:name),:id,:name, {include_blank: "選択して下さい"}, required: true %> VS
    <%= u.label :チーム2 %>
    <%= u.collection_select :team_b_id, Team.order(:name),:id,:name, {include_blank: "選択して下さい"},required: true %>
  <% end %>

  <div class="form-group">
    <%= f.label :content, 'チーム1・得点' %>
    <%= f.number_field :team_a_point %>
    <%= f.label :content, 'チーム2・得点' %>
    <%= f.number_field :team_b_point %>
  </div>

  <div class="form-group">
    <%= f.label :content, 'この試合の見所は？' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :place, '試合場所' %>
    <%= f.text_field :place %>
  </div>
  <div class="form-group">
    <%= f.label :match_at, '日時' %>
    <%= f.datetime_field :match_at %>
  </div>
  <div class="form-group">
    <% if action_name == 'new' || action_name == 'create' %>
      <%= f.submit 'Create', class: 'btn-denim mx-auto d-block' %>
    <% else %>
      <%= f.submit 'Update' %>
    <% end %>
  </div>
<% end %>
<%= link_to '一覧に戻る', games_path, class: 'btn btn-primary mx-auto d-block col-md-3' %> 