<h3>game一覧</h3>

<table>
  <tr>
    <th>内容</th>
  </tr>
  <% @games.each do |game| %>
  <tr>
    <td><%= game.content %></td>
    <td><%= link_to '詳細', game_path(game.id) %></td>
    <td><%= link_to '編集', edit_game_path(game.id) %></td>
    <td><%= link_to '削除', game_path(game.id), method: :delete, data: {confirm: '削除してよろしいですか？'} %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'game新規作成', new_game_path, class:'btn btn-primary' %> 
