<p> 
  <%= @game.user.name %>のgameルーム
</p>

<p> 
  試合内容 : <%= @game.content %>
</p>
<p> 
  場所 : <%= @game.place %>
</p>
<p> 
  日時 : <%= @game.match_at %>
</p>

<% if current_user == @game.user %>
  <%= link_to '編集', edit_game_path(@game.id), class: 'first_edit' %>
  <%= link_to '削除', game_path(@game.id), method: :delete, class: 'first_delete', data: {confirm: "投稿を削除してもよろしいでしょうか？"} %>
<% end %>

<% unless @game.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入りを解除する', favorite_path(id: @favorite.id), method: :delete %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(game_id: @game.id), method: :post %>
  <% end %>
<% end %>
<br>

<div class="container">
  <p id="notice"><%= notice %></p>
  </div>
  <p>コメント一覧</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, game: @game } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, game: @game } %>
</div>

<%= link_to '一覧に戻る', games_path %>