<p> 
  <%= @game.user.name %>のgameルーム
</p>
<p> 
  <%= @game.content %>
</p>

<% if current_user == @game.user %>
  <%= link_to '編集', edit_post_path(@game.id), class: 'first_edit' %>
  <%= link_to '削除', post_path(@game.id), method: :delete, class: 'first_delete', data: {confirm: "投稿を削除してもよろしいでしょうか？"} %>
<% end %>

<%= link_to '一覧に戻る', games_path %>