<div class = "content_index post_show">
<h3 class="text-center mt-5"><span class="user_name"><%= link_to @game.user.name, user_path(@game.user_id) %></span>の試合ルーム</h3><br>

  <div class = "alert alert-light">
    <p><span class="team_info"><%= @team_a.name %> 対 <%= @team_b.name %></span></p>
    <p><span class="team_point"><%= @game.upshot.team_a_point %> - <%= @game.upshot.team_b_point %></span></p> 
    <p><span class="team_place"> 場所 : <%= @game.place %></span></p>
    <p><span class="team_match"> 日時 : <%= @game.match_at %></span></p>
    <p><span class="team_content"> 試合内容 : <%= @game.content %></span></p>
  </div>

  <% if current_user == @game.user %>
    <%= link_to '編集', edit_game_path(@game.id),class:"btn btn-outline-success btn-block" %>
    <%= link_to '削除', game_path(@game.id), method: :delete, data: {confirm: "投稿を削除してもよろしいでしょうか？"},class:"btn btn-outline-success btn-block" %>
  <% end %>

  <div class = "center_box">
  <% if @game.user_id != current_user.id %>
    <% if @favorite.present? %>
      <%= link_to '❤', favorite_path(id: @favorite.id), method: :delete, class: "btn-circle-border-double" %>
    <% else %>
      <%= link_to '♡', favorites_path(game_id: @game.id), method: :post, class: "btn-circle-border-double" %>
    <% end %>
  <% end %>
  
  <div class="container">
  <p id="notice"><%= notice %></p>
    </div>
    <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, post: @game } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @game } %>
  </div>
    
    
    <%= link_to '試合ルーム一覧', games_path, class: 'btn btn-primary btn-block' %>
    <%= link_to 'お気に入り一覧', favorite_path(current_user.id), class: 'btn btn-primary btn-block' %>
    <br><br><br><br><br><br><br><br>

  </div>
</div>