
<div class = "content_index post_show">

<h3 class="text-center mt-5"><%= link_to @game.user.name, user_path(@game.user_id) %>の試合ルーム</h3><br>

  <tr>
    <td> <p><%= @team_a.name %> 対 <%= @team_b.name %></p> </td> 
  <tr>
    <td> <p><%= @game.upshot.team_a_point %> 対 <%= @game.upshot.team_b_point %></p> </td>
  <tr>
    <td><p> 場所 : <%= @game.place %></p></td>
  <tr>
    <td><p> 日時 : <%= @game.match_at %></p></td>
  <tr>
    <td><p> 試合内容 : <%= @game.content %></p></td>
  <tr>

  <% if current_user == @game.user %>
    <%= link_to '編集', edit_game_path(@game.id),class:"btn btn-outline-success btn-block" %>
    <%= link_to '削除', game_path(@game.id), method: :delete, data: {confirm: "投稿を削除してもよろしいでしょうか？"},class:"btn btn-outline-success btn-block" %>
  <% end %>

  <% if @game.user_id != current_user.id %>
    <% if @favorite.present? %>
      <%= link_to '❤', favorite_path(id: @favorite.id), method: :delete, class: "btn-circle-border-double" %>
    <% else %>
      <%= link_to '♡', favorites_path(game_id: @game.id), method: :post, class: "btn-circle-border-double" %>
    <% end %>
  <% end %>
  <br>

  <div class="container">
    <p id="notice"><%= notice %></p>
    </div>
    <p class = 'btn-border-bottom'><p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, post: @game } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @game } %>
  </div>

  <%= link_to '試合ルーム一覧', games_path, class: 'btn btn-primary mx-auto d-block col-md-3' %> 

</div>