<div class ="header">
  <%= link_to tops_index_path ,class:"navbar-brand" do %>
    <%= image_tag 'logo.jpg', id:'logo' %>
  <% end %>

  <ul class = "top_menu_bar">
    <% if user_signed_in? %>
      <li class = "item_bar"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class = "item_bar"><%= link_to "新規登録", new_user_registration_path %></li>
      <li class = "item_bar"><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
    <% if current_user.try(:admin?) %>
      <li class = "item_bar"><%= link_to '管理者画面', rails_admin_path %></li>
    <% end %>
  <ul>
</div>