<!DOCTYPE html>
<html>
  <head>
    <title>SoccerPub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= link_to 'トップページ', games_path ,class:"btn btn-outline-primary" %>
    <%= link_to 'マイページ', user_path(current_user.id) ,class:"btn btn-outline-primary" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'サインアップ', new_user_registration_path,class:"btn btn-outline-primary" %>
    <%= link_to "ログイン", new_user_session_path,class:"btn btn-outline-primary" %>
  <% end %>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  
  <div class="container-fluid py-4 <%= devise_controller? ? 'mw-md' : 'mw-xl' %>">
  <%= yield %>
  </body>
</html>
