
<!DOCTYPE html>
<html>
  <head>
    <title>Hns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = 'bkg_color2' >
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div class="col text-center" >
      <div class = 'container'>
        <div class = 'row'>
          <div class = 'col-md-1 col-sm-1 col-xs-0'></div>
          <div class = 'col-md-9 col-sm-9 col-xs-12'>
            <%= yield %>
          </div>
          <div class = 'col-md-1 col-sm-1 col-xs-0'></div>
        </div>
      </div>
    </div>
  </body>
</html>